<h1>New Product</h1>

<form method="post" id="product-form"></form>
<button asp-action="Create" form="product-form">Create</button>
<a role="button" asp-action="Index">Cancel</a>
<partial name="_Form" />
