@using Northwind.Application.Orders.Shared.Models
@model Order

<form method="post" id="order-form">
  <input asp-for="Id" type="hidden" asp-model-prefix>
  <fieldset>
    <field>
      <label asp-for="Name"></label>
      <input asp-for="Name" asp-model-prefix>
      <span asp-validation-for="Name"></span>
    </field>
  </fieldset>
</form>
