@using Northwind.Application.Customers.Shared.Models
@model Customer 

<form method="post" id="customer-form">
  <fieldset>
    <field>
      <label asp-for="Id"></label>
      <input asp-for="Id" asp-model-prefix>
      <span asp-validation-for="Id"></span>
    </field>
    <field>
      <label asp-for="CompanyName"></label>
      <input asp-for="CompanyName" asp-model-prefix>
      <span asp-validation-for="CompanyName"></span>
    </field>
    <fieldset>
      <label asp-for="ContactName"></label>
      <input asp-for="ContactName" asp-model-prefix>
      <span asp-validation-for="ContactName"></span>
    </fieldset>
  </fieldset>
</form>
