@using Northwind.Application.Customers.Shared.Models
@model Customer 

<h1>Edit Customer</h1>

<button asp-action="Update" form="customer-form">Update</button>
<button form="customer-delete-form">Delete</button>
<a role="button" asp-action="Show" asp-route-id="@Model.Id">Cancel</a>
<form asp-action="Delete" method="post" id="customer-delete-form">
  <input type="hidden" name="Id" value="@Model.Id">
</form>
<partial name="_Form" />
