@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<Northwind.Application.Customers.Shared.Models.Customer>

<h1>Customers</h1>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<a role="button" asp-action="New">New</a>

<table class="table">
  <thead>
  <tr>
    <th>
      Id
    </th>
    <th>
      Company Name
    </th>
  </tr>
  </thead>
  <tbody>
  
  @foreach (var item in Model.AsEnumerable())
  {
    <tr>
      <td>
        <a asp-action="Show" asp-route-id="@item.Id">@item.Id</a> 
      </td>
      <td>
        @item.CompanyName
      </td>
    </tr>
  }
  </tbody>
</table>
