<input id="menu" type="checkbox" />
<span style="padding-right: 5px">
  <a href="/">Northwind</a>
</span>
<nav>
  <ul>
    <li><a href="/addresses">Addresses</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/employees">Employees</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/regions">Regions</a></li>
    <li><a href="/shippers">Shippers</a></li>
    <li><a href="/suppliers">Suppliers</a></li>
  </ul>
  <ul>
    <li>
      <span>Hello {name}</span>
    </li>
    <li>
      <Logout />
    </li>
  </ul>
</nav>
<label for="menu" />
