@using Northwind.Application.Employees.Shared.Models
@model Employee

<form method="post" id="employee-form">
  <input asp-for="Id" type="hidden" asp-model-prefix>
  <fieldset>
    <field>
      <label asp-for="Email"></label> 
      <input asp-for="Email" type="email" asp-model-prefix>
      <span asp-validation-for="Email"></span> 
    </field>
    <field>
      <label asp-for="FirstName"></label> 
      <input asp-for="FirstName" asp-model-prefix>
      <span asp-validation-for="FirstName"></span> 
    </field>
    <field>
      <label asp-for="LastName"></label> 
      <input asp-for="LastName" asp-model-prefix>
      <span asp-validation-for="LastName"></span> 
    </field>
    <field>
      <label asp-for="BirthDate"></label> 
      <input asp-for="BirthDate" type="date" asp-model-prefix>
      <span asp-validation-for="BirthDate"></span> 
    </field> 
  </fieldset>
</form>
