
<form asp-action="Create" method="post">
  <div>
    <input type="text" name="FirstName">    
  </div>
  <div>
    <input type="text" name="LastName">    
  </div>
  <div>
    <button type="submit">Submit</button>
  </div> 
</form>
