@using Northwind.Application.Addresses.Shared.Models
@model Address

<form method="post" id="address-form">
  <input asp-for="Id" type="hidden" asp-model-prefix>
  <fieldset>
    <field>
      <label asp-for="Name"></label>
      <input asp-for="Name" asp-model-prefix>
      <span asp-validation-for="Name"></span>
    </field>
    <field>
      <label asp-for="AddressLine1"></label>
      <input asp-for="AddressLine1" asp-model-prefix>
      <span asp-validation-for="AddressLine1"></span>
    </field> 
    <field>
      <label asp-for="AddressLine2"></label>
      <input asp-for="AddressLine2" asp-model-prefix>
      <span asp-validation-for="AddressLine2"></span>
    </field>
    <field>
      <label asp-for="PostalTown"></label>
      <input asp-for="PostalTown" asp-model-prefix>
      <span asp-validation-for="PostalTown"></span>
    </field>
    <field>
      <label asp-for="County"></label>
      <input asp-for="County" asp-model-prefix>
      <span asp-validation-for="County"></span>
    </field>
    <field>
      <label asp-for="PostCode"></label>
      <input asp-for="PostCode" asp-model-prefix>
      <span asp-validation-for="PostCode"></span>
    </field>
    <field>
      <label asp-for="Country"></label>
      <input asp-for="Country" asp-model-prefix>
      <span asp-validation-for="Country"></span>
    </field>
  </fieldset>
</form>
